<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quản_Lý_Kho_Điện_Thoại.Properties.Settings.QuanLyKhoDienThoaiConnectionString" connectionString="Data Source=(local);Initial Catalog=QuanLyKhoDienThoai;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
